<style>
	h1 {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<script lang="typescript">
	import { ScaleInKey } from '../application/models/ScaleInKey'
	import { notes } from '../application/models/notes'
	import { Scale, scales } from '../application/models/scales'

	let selectedNote: string = notes[0]

	let selectedScale: Scale = scales[0]
	
	let scaleInKey: ScaleInKey
	$: scaleInKey = new ScaleInKey(selectedNote, selectedScale)

	function selectNote (note: string) { selectedNote = note }
	function selectScale (scale: Scale) { selectedScale = scale }
</script>

<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<h1>Scales</h1>

<section class="columns">
{#each notes as note}
	<div class="column">
		<button class="button" class:is-primary="{selectedNote === note}" on:click={() => selectNote(note)}>
			{note}
		</button>
	</div>
{/each}
</section>

<section class="columns">
{#each scales as scale}
	<div class="column">
		<button class="button" class:is-primary="{selectedScale === scale}" on:click={() => selectScale(scale)}>
			{scale.name}
		</button>
	</div>
{/each}
</section>

<h2>{scaleInKey.name}</h2>

<table class="table is-fullwidth">
	<tbody>
	{#each scaleInKey.degrees as degree}
		<tr>
			<td>{degree.note}</td>
			{#each degree.chords as chord}
				<td>{@html chord.chordNumeral} - {@html chord.chordSymbol}</td>
			{/each}
		</tr>
	{/each}
	</tbody>
</table>